<div class='table-container'>
<table class="table">
  <thead>
    <tr>
      <th *ngFor="let column of columns">
        {{column}}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of userList; let i = index;">
      <td *ngFor="let data of columns">
        {{item[data]}}
      </td>
      <td><button type='button' class='btn btn-primary'> Delete</button></td>
      <td><button type='button' class='btn btn-primary' (click)="editRow(i)">Edit</button></td>
    </tr>
  </tbody>
</table>
</div>
